# See https://help.github.com/ignore-files/ for more about ignoring files.

# Node / NPM / Yarn
node_modules

# Build
/build
.etherlime-store
/localDeploy
/run
/vendor
/artifacts
/cache
/typechain
/abi

# Secrets
.secret
.env
.env.*

# OS
.DS_Store

# IntelliJ IDEA
*.iml
*.iws
*.ipr
.idea/

# Test Coverage
coverage*

# Personal Preferences
.vscode
*.txt

