# See https://help.github.com/ignore-files/ for more about ignoring files.

# Node / NPM / Yarn
node_modules

# Build
/build
.etherlime-store

# Secrets
.secret

# OS
.DS_Store

# IntelliJ IDEA
*.iml
*.iws
*.ipr
.idea/
